* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $BG_color;
}
// 在 767px 時會出現第個 scrollbar ???
// body::-webkit-scrollbar {
//   display:none
// }

// 主容器
.container {
  width: 70%;
  margin: 0 auto;
}

// 下推間距
.mb1 {
  margin-bottom: 0.5rem;
}
.mb2 {
  margin-bottom: 1rem;
}
.mb3 {
  margin-bottom: 1.5rem;
}
.mb4 {
  margin-bottom: 2rem;
}
.mb5 {
  margin-bottom: 2.5rem;
}

// 透明用
.op0 {
  opacity: 0;
  transition: 1.5s;
}
.op1 {
  opacity: 1;
}

// 縮放用
.scale0 {
  transform: translateX(-50%) scale(0) !important;
  transition: 1s;
  // transition-delay: .25s;
  @include md {
    transform: translateX(-50%) translateY(25%) scale(0) !important;
  }
}
.scale1 {
  transform: translateX(-50%) scale(1) !important;
  transition: 1s;
  // transition-delay: .25s;
  @include md {
    transform: translateX(-50%) translateY(25%) scale(1.5) !important;
  }
}
.scale125 {
  transform: scale(1.5);
  transition: 1s;
}

// components
.circle {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  @include lg {
    width: 228px;
    height: 228px;
  }
  @include md {
    width: 236px;
    height: 236px;
  }
  .text_box {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    h3 {
      font-size: $fz3;
      font-family: $gothic;
      margin-bottom: 0.5rem;
      @include lg {
        font-size: 36px;
      }
    }
    p {
      font-size: $fz4;
      line-height: $lh2;
      font-family: $gothic;
    }
  }
  img.play_s {
    display: block;
    position: absolute;
    width: 88%;
    z-index: 1;
  }
  img.play_hover {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 10;
    opacity: 0;
    transition: .3s ease-out;
    &:hover {
      opacity: 1;
    }
  }
}
.circle_white {
  background: linear-gradient(236.41deg, #ffffff 14.9%, #e2e2e2 122.79%);
  filter: drop-shadow(10px 15px 25px #3b3b3b86);
  &:nth-child(1) {
    transform: translateY(-15%);
    @include md {
      transform: translateY(10%) translateX(-45%);
    }
  }
  &:nth-child(2) {
    @include md {
      transform: translateY(0) translateX(45%);
    }
  }
  &:nth-last-child(1) {
    transform: translateY(15%);
    @include md {
      transform: translateY(-10%) translateX(-45%);
    }
  }
  h3 {
    color: $circle_title_C;
  }
  p {
    color: $black;
  }
}
.circle_black {
  // background: linear-gradient(236.41deg, #959595 14.9%, #7b7b7b 122.79%);
  background: linear-gradient(90deg, rgba(137,175,255,1) 0%, rgba(194,146,255,1) 100%);
  filter: drop-shadow(10px 15px 25px #3b3b3b86);
  &:nth-child(1) {
    transform: translateY(15%);
    @include md {
      transform: translateY(10%) translateX(45%);
    }
  }
  &:nth-last-child(1) {
    transform: translateY(-5%);
    @include md {
      transform: translateY(0) translateX(-45%);
    }
  }
  h3 {
    color: $titleGreen;
  }
  p {
    color: $white;
  }
}

// 連結按鈕
a.M_btn {
  font-size: $fz4;
  font-family: $gothic;
  font-weight: 700;
  text-decoration: none;
  color: $white;
  background-color: $aColor;
  line-height: 45px;
  padding: 8px 16px;
  border-radius: .9rem;
  transition: 0.2s;
  &:hover {
    background-color: $circle_title_M_hover;
  }
}

// 漢堡
.Hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100001;
  cursor: pointer;
  transition: 0.5s;
  @include sm {
    top: 0.5rem;
    right: 0.5rem;
  }
  .menu {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $circle_title_M;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.7s;
    .bar {
      width: 32px;
      height: 4px;
      border-radius: 5px;
      background-color: $white;
    }
    #bar1 {
      transform: translateY(-6px);
    }
    #bar3 {
      transform: translateY(6px);
    }
    &.menu_active {
      transform: rotate(360deg);
      background-color: transparent;
      transition: 0.5s;
      .bar {
        background-color: $white;
      }
      #bar1 {
        transform: translateY(4px) rotate(45deg);
      }
      #bar2 {
        opacity: 0;
        // display: none;
      }
      #bar3 {
        transform: translateY(-4px) rotate(-45deg);
      }
    }
  }
}
.menu_list {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  // background-color: rgba(0, 0, 0, 0.349);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // 這邊藉由遮罩來實現中點展開
  clip-path: circle(0 at 95.2% 8.4%);
  transition: 0.5s ease-out;
  z-index: -10;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  li {
    list-style: none;
    text-align: center;
    opacity: 0;
    margin-bottom: 2.5rem;
    &:hover {
      transform: scale(1.2);
    }
    &:nth-child(1) {
      transition: all 0.5s ease;
    }
    &:nth-child(2) {
      transition: all 0.5s ease;
    }
    &:nth-child(3) {
      transition: all 0.5s ease;
    }
    &:nth-child(4) {
      transition: all 0.5s ease;
    }
    &.fade {
      opacity: 1;
    }
    a {
      font-size: $fz1;
      font-weight: $fw700;
      font-family: $gothic;
      color: $circle_title_M;
      text-decoration: none;
      text-align: center;
      @include xs {
        font-size: 2.2rem;
      }
    }
  }
  &.menu_list_active {
    // 原本只遮一小點 變成大點時即有效果
    clip-path: circle(2500px at 95.2% 8.4%);
    z-index: 100000;
  }
}

// popup circle
.popup_box {
  position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  inset: 0;
  height: 100vh;
  // background-color: $bg_lightblue;
  background-color: rgba(0, 0, 0, 0.5);
  // display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  visibility: hidden;
  transform: scale(0.1);
  opacity: 0;
  transition: .3s;
  &.active {
    visibility: visible;
  border-radius: 0rem;

    transform: scale(1);
    opacity: 1;
  }
  .popup {
    width: 700px;
    height: 700px;
    background-color: $white;
    padding: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    @include md {
      width: 550px;
      height: 550px;
    }
    @include sm {
      padding: 10px;
      width: 350px;
      height: 600px;
      border-radius: 99rem;
    }
    &.active {
      display: flex;
    }
    .box {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      // border: 2px solid #000;
      display: none;
      &.active {
        display: block;
      }
      @include sm {
        width: 350px;
        border-radius: 350px;
      }
      .img_box {
        width: 100%;
        height: 50%;
        overflow: hidden;
        // border: 2px solid #00f;
        @include sm {
          width: 340px;
          height: 170px;
          border-top-left-radius: 340px;
          border-top-right-radius: 340px;
        }
      }
      .content_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .text_box {
          margin: 0 auto;
          width: 450px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          // border: 2px solid #000;
          @include md {
            width: 350px;
          }
          @include sm {
            width: 300px;
            align-items: right;
          }
          h3 {
            font-size: 28px;
            font-family: $gothic;
            font-weight: 900;
            margin-top: 2rem;
            margin-bottom: 1rem;
            @include md {
              margin-top: 1.25rem;
              margin-bottom: 0.5rem;
              // border: 2px solid #000;
            }
          }
          .scroll_text {
            height: 120px;
            // border: 2px solid #0ff;
            margin-bottom: 2rem;
            overflow: auto;
            @include md {
              height: 90px;
              margin-bottom: 1.5rem;
            }
            @include sm {
              width: 300px;
              height: 200px;
              // border: 2px solid #0ff;
            }
            p {
              // margin-bottom: 0.5rem;
              line-height: 24px;
              font-family: $Roboto;
            }
          }
        }
      }
    }
  }
}

// video player
.video_play_box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100002;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  transition: .3s;
  &.active {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  video {
    position: relative;
    max-width: 900px;
    outline: 0;
    @include lg {
      width: 100%;
      min-width: 370px;
    }
  }
  iframe {
    width:80vw;
    height: calc(100vw/1.77);
    @include lg {
      width: 100%;
      min-width: 370px;
    }
  }
  .close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    right: 30px;
    cursor: pointer;
    color: $white;
    font-size: 36px;
  }
}

// footer
footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $white;
  // border: 2px solid #000;
  .img_box {
    position: relative;
    width: 70%;
    z-index: 2;
    // border: 2px solid #000;
    @include xl {
      width: 75%;
    }
    @include lg {
      width: 85%;
    }
    @include md {
      width: 100%;
    }
    img.footer_a {
      width: 100%;
      display: block;
      @include md {
        transform: scale(1.25);
      }
      @include sm {
        transform: scale(1.5);
      }
      @include xs {
        transform: scale(1.75);
      }
    }
    .text_box {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include lg {
        // 這邊會爆版
        // top: 5%;
        // transform: unset;
        // left: unset;
        // width: 100%;
        // padding: 0 1rem;
      }
      p {
        font-size: 18px;
        line-height: 28px;
        font-weight: $fw700;
        letter-spacing: $commonLS;
        font-family: Arial, Helvetica, sans-serif;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-bottom: -0.75rem;
        @include xl {
          font-size: 16px;
        }
        @include xs {
          font-size: .8725rem;
        }
      }
      h2 {
        font-size: 56px;
        font-family: $gothic;
        font-weight: $fw700;
        letter-spacing: $commonLS;
        white-space: nowrap;
        margin-block-start: 0em;
        margin-block-end: 0em;
        @include xl {
          font-size: 56px;
        }
        @include lg {
          font-size: $fz2;
        }
        @include xs {
          font-size: 1.5rem;
        }
      }
      .footer-flex-box{
        display: flex;
        @include md{
          flex-direction: column;
        }
        .social {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          .nous {
            font-size: 28px;
            font-weight: 500;
            font-family: $gothic;
            font-weight: $fw700;
            letter-spacing: $commonLS;
            margin-right: 24px;
            white-space: nowrap;
            @include xl {
              font-size: 26px;
            }
            @include xs {
              font-size: 1.1rem;
            }
          }
          img {
            display: block;
            margin-right: 1.5rem;
            &.last {
              margin-right: 4rem;
            }
            @include xl {
              width: 1.5rem;
            }
            @include xs {
              width: 1.2rem;
              margin-right: 1rem;
            }
          }          
        }
        .link_box {
          a {
            font-family: $gothic;
            font-size: 26px;
            font-weight: 400;
            color: $black;
            display: block;
            letter-spacing: $commonLS;
            white-space: nowrap;
            &:last-child {
              margin-bottom: 0;
            }
            @include xs {
              font-size: 1rem;
            }
          }
        }
      }   
    }
  }
  .img_box2 {
    width: 55%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    // border: 2px solid #000;
    @include lg {
      width: 75%;
      right: -10%;
    }
    @include md {
      display: none;
    }
    img.footer_b {
      width: 100%;
      display: block;
      // border: 2px solid #00f;
      position: relative;
      bottom: 0;
    }
    img.footer_TIA {
      position: absolute;
      top: 25%;
      right: 40%;
      width: 15%;
      @include lg {
        top: 35%;
        right: 25%;
      }
    }
  }
}

@keyframes infinite-spinning {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes infinite-spinning2 {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}


@keyframes rotateIn {
  from {
    transform: rotate3d(0, 0, 1, -540deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, -50px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes main-logo {
  0%{
    filter: drop-shadow(0px 0px 10px #00000022);
  }
  50%{
    filter: drop-shadow(60px 60px 45px #00000066);
  }
  100%{
    filter: drop-shadow(0px 0px 10px #00000022);
  }
}

.zoomInUp {
  opacity: 1;
  animation: zoomInUp 1.2s;
}


