section.coming_soon {
  * {
    transition: 0.5s;
  }
  background-image: url("../../content/img/comming_soon/bg-1920.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  animation: coming_soon 5s infinite;
  @keyframes coming_soon {
    0%{
      background-size: 100%;
    }
    50%{
      background-size: 100.5%;

    }
    100%{
      background-size: 100%;

    }
  }
  min-height: 100vh;
  display: flex;
  justify-content: center;

  .main_box {
    margin-top: 10vh;
    margin-bottom: 10vh;
    max-width: 440px;
    padding: 0 20px;
   
    @include sm {
      padding: 0 3rem;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
    text-align: center;
    font-family: $gothic;
    font-weight: 700;
    .main-logo {
      width: 100%;
      vertical-align: middle;
      animation: main-logo 4567ms infinite linear;
      @keyframes main-logo {
        0%{
          filter: drop-shadow(0px 0px 10px #00000022);
        }
        50%{
          filter: drop-shadow(10px 10px 10px #00000044);
  
        }
        100%{
          filter: drop-shadow(0px 0px 10px #00000022);
  
        }
      }
    }
    .big-text {
      font-size: 72px;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @include sm {
        font-size: 48px;
      }
    }
    .date {
      font-size: 28px;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      @include sm {
        font-size: 24px;
      }
    }
    .cctp-logo {
      margin: 2rem 0;
      display: inline-block;
      &:hover {
        transform: scale(1.1);
      }
      img {
        width: 124px;
      }
    }
    .social_box {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        transition: 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
      img {
        width: 2rem;
        margin: 0 13px;
        @include sm {
          width: 1.5rem;
          margin: 0 8px;
        }
      }
    }
  }
}
