/* index */
section.remake {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  img.ball {
    position: absolute;
    display: block;
    z-index: 100;
    &:nth-child(1) {
      top: -1.3%;
      right: -1.6%;
      width: 25%;
      filter: drop-shadow(10px 15px 15px #bcbbb7);
    }
    &:nth-child(2) {
      top: 0.5%;
      right: 20%;
      width: 9%;
      filter: drop-shadow(10px 15px 15px #bcbbb7);
    }
    &:nth-child(3) {
      top: 4.5%;
      right: 6%;
      width: 12%;
      filter: drop-shadow(10px 15px 15px #bcbbb7);
    }
    &:nth-child(4) {
      top: 2%;
      left: -13%;
      width: 34%;
      filter: drop-shadow(10px 15px 15px #bcbbb7);
    }
    &:nth-child(5) {
      top: 4%;
      left: 15.4%;
      width: 12%;
    }
    &:nth-child(6) {
      top: 10%;
      left: 8.4%;
      width: 10%;
      filter: drop-shadow(5px 5px 10px #bcbbb7);
    }
    &:nth-child(7) {
      top: 13%;
      right: -9.1%;
      width: 20%;
    }
    &:nth-child(8) {
      top: 12%;
      right: 4.4%;
      width: 10%;
    }
    &:nth-child(9) {
      top: 17%;
      left: 9.5%;
      width: 8%;
      filter: drop-shadow(5px 5px 10px #bcbbb7);
    }
    &:nth-child(10) {
      top: 15%;
      left: -1.5%;
      width: 15%;
    }
    &:nth-child(11) {
      top: 20.5%;
      right: 16.5%;
      width: 9%;
      filter: drop-shadow(5px 5px 10px #bcbbb7);
    }
    &:nth-child(12) {
      top: 21.7%;
      right: 14.5%;
      width: 14%;
    }
    &:nth-child(13) {
      top: 22%;
      left: 14.5%;
      width: 12%;
      filter: drop-shadow(5px 5px 10px #bcbbb7);
    }
    &:nth-child(14) {
      top: 24.2%;
      left: 21.6%;
      width: 7%;
    }
    &:nth-child(15) {
      top: 29.5%;
      left: -10%;
      width: 20%;
    }
    &:nth-child(16) {
      top: 27.5%;
      right: 5%;
      width: 10%;
    }
    &:nth-child(17) {
      top: 32.5%;
      right: -5%;
      width: 18%;
    }
    &:nth-child(18) {
      top: 32.2%;
      right: 8.6%;
      width: 8.8%;
    }
    &:nth-child(19) {
      top: 42.7%;
      left: 0%;
      width: 13.8%;
    }
    &:nth-child(20) {
      top: 41.2%;
      right: 0%;
      width: 15.8%;
    }
  }
  .part01 {
    position: relative;
    img.top_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    img.main_logo_shadow {
      position: relative;
      display: block;
      width: 640px;
      margin: 0 auto;
      padding: 5rem 0 2.5rem 0;
      z-index: 1;
      transition: .5s;
      animation-name: bounceInDown;
      animation-duration: 1.2s;
      transform-origin: center;
      @include special_xxl2 {
        width: 400px;
      }
    }
    .paragraph1 {
      position: relative;
      width: 55%;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      z-index: 100;
      h3 {
        font-size: $fz3;
        color: $black;
        font-weight: $fw700;
        font-family: $gothic;
        margin: 0 0 1rem 0;
        letter-spacing: $commonLS;
      }
      p {
        color: $p_color;
        line-height: $lh1;
        font-family: $nunito;
      }
    }
    .play_box {
      position: relative;
      width: 490px;
      margin: 0 auto;
      margin-bottom: 5%;
      z-index: 100;
      .play_area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-48%, -49%);
        width: 350px;
        height: 350px;
        border-radius: 50%;
        // background-color: #0f0;
        z-index: 101;
        overflow: hidden;
        .play_box_triangle {
          position: absolute;
          width: 25%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 102;
          cursor: pointer;
          transition: .3s;
          // border: 2px solid #000;
          &:hover {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }
    }
    .five_circles_box {
      position: relative;
      width: 100%;
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        position: relative;
        color: $white;
        margin-bottom: 2.5rem;
        font-size: $fz1;
        font-family: $gothic;
        font-weight: $fw700;
        letter-spacing: $commonLS;
        text-align: center;
        text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
        z-index: 2;
        &:nth-child(1) {
          padding-top: 7.5%;
          padding-bottom: 1%;
          @include md {
            padding-top: 17%;
            padding-bottom: unset;
          }
        }
        &:nth-child(3) {
          padding: 0;
          color: $black;
          text-shadow: unset;
        }
      }
      .text_box {
        display: flex;
        justify-content: center;
        align-items: center;
        h3,
        p {
          margin: 0;
        }
        h3 {
          font-weight: $fw600;
          letter-spacing: $commonLS;
        }
        p {
          font-weight: $fw300;
          letter-spacing: $commonLS;
        }
      }
      .circle_box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5vh;
        width: 100%;
        max-width: 1024px;
        @include md {
          flex-direction: column;
          width: unset;
          // border: 2px solid #000;
          z-index: 1000000;
        }
      }
      .circle_box2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 45%;
        min-width: 580px;
        @include md {
          flex-direction: column;
          width: unset;
        }
      }
      .CM_obj {
        position: absolute;
        top: -5%;
        left: 50%;
        display: block;
        width: 65%;
        min-width: 720px;
        max-width: 990px;
        transform: translateX(-50%);
        z-index: 1;
        @include special_xxl2 {
          min-width: 720px;
          max-width: 920px;
        }
        @include md {
          transform: translateX(-50%) translateY(25%) scale(1.5);
        }
      }
    }
  }
  .article-list {
    position: relative;
    margin: auto;
    z-index: 10000;
    max-width: 1024px;
    .list-item {
      display: flex;
      align-items: center;
      margin: 20% 0;
      padding: 0 1rem;
      @include sm {
        flex-direction: column;
        margin-bottom: 2.5rem;
      }
      .img-box {
        order: 0;
        width: 100%;
        position: relative;
        z-index: 2;
        @include sm {
          margin-bottom: 1.5rem;
        }
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 20px;
          vertical-align: top;
        }
        .circle_dots_s {
          position: absolute;
          top: 6%;
          left: 50%;
          width: 80%;
          z-index: -1;
          transform: translateX(-50%);
          animation: infinite-spinning 36s linear infinite;
          @include sm {
            display: none;
          }
        }
        .circle_bluegreen_dots {
          position: absolute;
          width: 75%;
          top: 50%;
          right: -15%;
          transform: translateY(-50%);
          z-index: -1;
          animation: infinite-spinning2 36s linear infinite;
        }
      }
      .text-box {
        order: 1;
        width: 100%;
        padding: 0 1.5rem;
        position: relative;
        // border: 2px solid #000;
        h2 {
          font-size: $fz2;
          font-family: $gothic;
          font-weight: $fw600;
          letter-spacing: $commonLS;
          margin-bottom: 1.5rem;
        }
        p {
          color: $p_color;
          font-family: $Roboto;
          margin-bottom: 2.5rem;
          letter-spacing: $commonLS;
          max-width: 280px;
          @include md {
            max-width: 235px;
          }
        }
        .C_circle {
          width: 500px;
          height: 500px;
          position: absolute;
          top: 50%;
          left: -100px;
          border-radius: 50%;
          transform: translateY(-50%);
          background-color: $lightGreen;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          transition: 0.5s;
          z-index: -1;
          // border: 2px solid #000;
          @include lg {
            width: 420px;
            height: 420px;
          }
          @include md {
            width: 370px;
            height: 370px;
          }
        }
      }
      &:nth-child(2n) {
        .img-box {
          order: 1;
          @include sm {
            order: 0;
          }
        }
        .text-box {
          order: 0;
          @include sm {
            order: 1;
          }
          p {
            max-width: 100%;
          }
        }
      }
    }
  }
  .part02 {
    position: relative;
    margin: auto;
    z-index: 10000;
    max-width: 1024px;

    @include xl {
      padding: 0 10%;
    }
    .text_box {
      max-width: 480px;
      h2 {
        font-size: $fz2;
        font-family: $gothic;
        font-weight: $fw600;
        letter-spacing: $commonLS;
        margin-bottom: 1.5rem;
      }
      p {
        color: $p_color;
        font-family: $Roboto;
        margin-bottom: 2.5rem;
        font-weight: $fw300;
        letter-spacing: $commonLS;
      }
    }
    .card_a {
      position: relative;
      max-width: 1080px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      margin-bottom: 10rem;
      // border: 2px solid #000;
      @include xl {
        max-width: 960px;
      }
      .box {
        position: relative;
        .img_box {
          position: relative;
          width: 510px;
          height: 335px;
          border-radius: 20px;
          overflow: hidden;
          z-index: 2;
          @include xl {
            width: 433px;
            height: 285px;
          }
          @include lg {
            width: 382px;
            height: 251px;
          }
        }
        .circle_dots_s {
          position: absolute;
          top: 6%;
          left: 50%;
          width: 80%;
          z-index: 1;
          transform: translateX(-50%);
        }
      }
      .C_circle {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        margin-left: -5%;
        background-color: $lightGreen;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: 0.5s;
        @include xl {
          width: 440px;
          height: 440px;
          margin-left: -10.5%;
        }
        .text_box {
          transform: translateX(10%);
          border: 1px solid red;
        }
      }
    }
    .card_b {
      position: relative;
      max-width: 1080px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10rem;
      // border: 2px solid #00f;
      @include xl {
        max-width: 950px;
      }

      .box {
        position: relative;
        .img_box {
          position: relative;
          width: 510px;
          height: 335px;
          border-radius: 20px;
          overflow: hidden;
          z-index: 2;
          @include xl {
            width: 433px;
            height: 285px;
          }
          @include lg {
            width: 382px;
            height: 251px;
          }
          img {
            object-fit: cover;
          }
        }
        .circle_bluegreen_dots {
          position: absolute;
          width: 100%;
          top: 50%;
          right: -27%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .part03 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    @include lg {
      margin-bottom: 5rem;
    }
    img.ball {
      position: absolute;
      display: block;
      z-index: 100;
      &:nth-child(1) {
        top: 31.7%;
        left: 0;
        width: 10%;
      }
      &:nth-child(2) {
        top: 0;
        left: 0;
        width: 20%;
      }
    }
    .tw_avignon {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      z-index: 10000;
      @include xl {
        max-width: 960px;
      }
      @include lg {
        max-width: 860px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      .box_a {
        width: 100%/3 * 2;
        display: flex;
        @include lg {
          width: 75%;
          margin-bottom: 2.5rem;
        }
        @include xs {
          width: 80%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        img.tw_avignon_img {
          position: relative;
          left: 2rem;
          z-index: 1;
          @include xl {
            width: 50%;
            left: 1rem;
          }
          @include xs {
            width: 80%;
          }
        }
        .img_box {
          position: relative;
          // transform: translateX(-48%);
          z-index: 2;
          @include xl {
            width: 50%;
          }
          @include xs {
            width: 80%;
            transform: translateY(-16%) rotate(90deg);
          }
          img.tw_avignon_M_icon {
            width: 100%;
            @include xl {
              width: 108%;
            }
          }
          .Nous_contacter {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
            @include lg {
              width: 75%;
            }
            @include xs {
              transform: translate(-40%, -50%) rotate(-90deg);
            }
          }
        }
      }
      .box_b {
        width: 100%/3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2.5rem;
        .wrap {
          width: 408px;
          z-index: 100;
          @include md {
            text-align: center;
          }
          @include sm {
            width: 375px;
          }
          @include xs {
            width: 320px;
          }
          p {
            color: $p_color;
            font-family: $Roboto;
            line-height: $lh1;
            font-size: $fz5;
            @include sm {
              font-size: 14px;
            }
          }
          h2 {
            position: relative;
            font-size: $fz3;
            font-family: $gothic;
            font-weight: 700;
            margin-bottom: 1.5rem;
            @include md {
              margin-bottom: 0.5rem;
            }
            @include sm {
              font-size: 36px;
            }
            &::after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 61%;
              height: 2px;
              background-color: $black;
              @include md {
                display: none;
              }
            }
          }
          a {
            color: $black;
            font-weight: 700;
            white-space: nowrap;
            text-decoration: none;
            font-family: $Roboto;
            @include sm {
              font-size: 14px;
              white-space: unset;
            }
          }
        }
      }
    }
    img.cloud_bg {
      position: absolute;
      left: 0;
      bottom: -100%;
      width: 100%;
      @include special_xxl3 {
        bottom: -145%;
      }
      @include special_xxl2 {
        bottom: -125%;
      }
      @include xxl {
        bottom: -105%;
      }
      // @include xl {
      //   bottom: -95%;
      // }
      @include lg {
        bottom: -42%;
      }
      @include md {
        bottom: -35%;
      }
      @include sm {
        bottom: -30%;
      }
      @include xs {
        bottom: -15%;
      }
    }
  }
  .part04 {
    background-color: $white;
    margin-top: 22%;
    .sponsor_box {
      position: relative;
      max-width: 1080px;
      margin: 0 auto;
      transform: translateY(-30%);
      z-index: 100;
      @include xl {
        max-width: 950px;
        transform: translateY(-22.5%);
      }
      @include lg {
        padding: 0 5%;
        transform: translateY(-15%);
      }
      @include md {
        transform: translateY(0);
      }
      @include sm {
        padding-bottom: 2.5rem;
      }
      .top {
        display: flex;
        margin-bottom: 56px;
        @include md {
          flex-wrap: wrap;
        }
        @include xs {
          justify-content: center;
          align-items: center;
        }
        .box_a {
          width: 33%;
          @include md {
            width: 50%;
          }
          @include xs {
            width: 60%;
            margin-bottom: 1.5rem;
            // border: 2px solid #000;
          }
          h3 {
            font-size: 28px;
            font-family: $gothic;
            font-weight: $fw600;
            letter-spacing: $commonLS;
            margin-bottom: 2.5rem;
          }
          .img_box {
            width: 60%;
          }
        }
      }
      .bottom {
        @include xs {
          // border: 2px solid #0f0;
          @include xs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
        h3 {
          font-size: 28px;
          font-family: $gothic;
          font-weight: $fw600;
          letter-spacing: $commonLS;
          margin-bottom: 2.5rem;
          @include xs {
            width: 60%;
            // border: 2px solid #000;
          }
        }
        .box_b {
          width: 100%;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          @include xs {
            justify-content: center;
          }
          .img_box {
            width: 20%;
            margin-right: 4%;
            margin-bottom: 32px;
            img {
              width: 100%;
            }
            @include lg {
              width: 28%;
            }
            @include md {
              width: 40%;
            }
            @include xs {
              width: 60%;
              margin-bottom: 2.5rem;
              // border: 2px solid #000;
            }
          }
        }
      }
    }
  }
}

/* mention_legales */
section.mention_legales {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $BG_color;
  overflow-x: hidden;
  a {
    img.position_obj {
      &:nth-child(1) {
        opacity: unset;
        width: 250px;
        top: 70px;
        left: 70px;
        @include lg {
          width: 320px;
          top: 50px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  img.position_obj {
    position: absolute;
    display: block;
    &:nth-child(1) {
      opacity: .5;
      width: 25%;
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      width: 250px;
      top: 70px;
      left: 70px;
      @include lg {
        width: 320px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &:nth-child(3) {
      width: 35%;
      top: 0;
      right: 0;
    }
    &:nth-child(4) {
      top: 6.9%;
      right: -7.6%;
      width: 23%;
      filter: drop-shadow(10px 15px 15px #bcbbb7);
    }
    &:nth-child(5) {
      width: 18%;
      top: 55%;
      left: 5%;
    }
    &:nth-child(6) {
      width: 19%;
      top: 60%;
      left: 0;
    }
    &:nth-child(7) {
      width: 17%;
      top: 50%;
      right: 0;
    }
  }
  .content {
    position: relative;
    width: 60%;
    padding-left: 10%;
    margin: 8rem 0 4rem;
    // border: 2px solid #000;
    z-index: 1000;
    @include lg {
      padding-top: 15rem;
    }
    @include md {
      padding-left: 0;
      width: 100%;
      padding: 0 1rem;
      padding-top: 15rem;
    }
    h2 {
      font-size: $fz1;
      font-family: $gothic;
      font-weight: $fw700;
      margin-bottom: 2rem;
    }
    .text_box {
      // border: 2px solid #f00;
      margin-bottom: 3rem;
      h3 {
        font-size: 28px;
        font-family: $gothic;
        font-weight: $fw700;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: $fz5;
        line-height: 24px;
        font-family: $Roboto;
        font-weight: 400;
      }
      a {
        color: $black;
        font-size: $fz5;
        line-height: 24px;
        font-family: $Roboto;
        font-weight: 400;
      }
      ul {
        list-style: disc;
        margin-left: 2rem;
      }
    }
  }
  footer {
    background-color: $BG_color;
  }
}
