@mixin special_xxl3 {
  @media (max-width: 2220px) {
    @content;
  }
}

@mixin special_xxl2 {
  @media (max-width: 1920px) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: 1679.98px ){
    @content;
  }
}

@mixin special_xxl {
  @media (max-width: 1600px) {
    @content;
  }
}
  
@mixin xl {
  @media (max-width: 1199.98px ){
    @content;
  }
}

@mixin lg {
  @media(max-width: 991.98px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 414.98px) {
    @content;
  }
}

@mixin xxs {
  @media (max-width: 374.98px) {
    @content;
  }
}




// part of reset
p, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Microsoft JhengHei','Noto Sans SC', sans-serif;
}

/*
@include xl {
    寫在該class內層代表該class在此寬度下的樣式
}
*/