// color
$white: #fff;
$black:#000;
$main_blue: #74E8E7;
$bg_lightblue: #E3ECf3;
$p_color:#3B3A39;
$circle_title_C: #00BFD4;
$circle_title_M: #f92fa8;
$circle_title_M_hover: hsl(324, 94%, 48%);

$aColor: #FA1A7A;


// remake color
$BG_color: #EFEDE7;
$s_color: #998c66;
$lightGreen: #87f1a9;
$titleGreen: #59FF3E;


// update font weight

$fw300: 300;
$fw600: 600;
$fw700: 700;

// font
$fz1: 64px;
$fz2: 46px;
$fz3: 42px;
$fz4: 24px;
$fz5: 16px;

$commonLS: 0.01rem;


$lh1: 24px;
$lh2: 28px;


$gothic: alternate-gothic-extra-cond, sans-serif;
$nunito: nunito, sans-serif;
$Roboto: Roboto, sans-serif;

