@charset "UTF-8";
@import url("https://use.typekit.net/dss5wmy.css");
p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Microsoft JhengHei','Noto Sans SC', sans-serif;
}

/*
@include xl {
    寫在該class內層代表該class在此寬度下的樣式
}
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #EFEDE7;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.mb1 {
  margin-bottom: 0.5rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.mb3 {
  margin-bottom: 1.5rem;
}

.mb4 {
  margin-bottom: 2rem;
}

.mb5 {
  margin-bottom: 2.5rem;
}

.op0 {
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.op1 {
  opacity: 1;
}

.scale0 {
  -webkit-transform: translateX(-50%) scale(0) !important;
          transform: translateX(-50%) scale(0) !important;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 767.98px) {
  .scale0 {
    -webkit-transform: translateX(-50%) translateY(25%) scale(0) !important;
            transform: translateX(-50%) translateY(25%) scale(0) !important;
  }
}

.scale1 {
  -webkit-transform: translateX(-50%) scale(1) !important;
          transform: translateX(-50%) scale(1) !important;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 767.98px) {
  .scale1 {
    -webkit-transform: translateX(-50%) translateY(25%) scale(1.5) !important;
            transform: translateX(-50%) translateY(25%) scale(1.5) !important;
  }
}

.scale125 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.circle {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .circle {
    width: 228px;
    height: 228px;
  }
}

@media (max-width: 767.98px) {
  .circle {
    width: 236px;
    height: 236px;
  }
}

.circle .text_box {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 2;
}

.circle .text_box h3 {
  font-size: 42px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  margin-bottom: 0.5rem;
}

@media (max-width: 991.98px) {
  .circle .text_box h3 {
    font-size: 36px;
  }
}

.circle .text_box p {
  font-size: 24px;
  line-height: 28px;
  font-family: alternate-gothic-extra-cond, sans-serif;
}

.circle img.play_s {
  display: block;
  position: absolute;
  width: 88%;
  z-index: 1;
}

.circle img.play_hover {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 10;
  opacity: 0;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.circle img.play_hover:hover {
  opacity: 1;
}

.circle_white {
  background: linear-gradient(236.41deg, #ffffff 14.9%, #e2e2e2 122.79%);
  -webkit-filter: drop-shadow(10px 15px 25px #3b3b3b86);
          filter: drop-shadow(10px 15px 25px #3b3b3b86);
}

.circle_white:nth-child(1) {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

@media (max-width: 767.98px) {
  .circle_white:nth-child(1) {
    -webkit-transform: translateY(10%) translateX(-45%);
            transform: translateY(10%) translateX(-45%);
  }
}

@media (max-width: 767.98px) {
  .circle_white:nth-child(2) {
    -webkit-transform: translateY(0) translateX(45%);
            transform: translateY(0) translateX(45%);
  }
}

.circle_white:nth-last-child(1) {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

@media (max-width: 767.98px) {
  .circle_white:nth-last-child(1) {
    -webkit-transform: translateY(-10%) translateX(-45%);
            transform: translateY(-10%) translateX(-45%);
  }
}

.circle_white h3 {
  color: #00BFD4;
}

.circle_white p {
  color: #000;
}

.circle_black {
  background: -webkit-gradient(linear, left top, right top, from(#89afff), to(#c292ff));
  background: linear-gradient(90deg, #89afff 0%, #c292ff 100%);
  -webkit-filter: drop-shadow(10px 15px 25px #3b3b3b86);
          filter: drop-shadow(10px 15px 25px #3b3b3b86);
}

.circle_black:nth-child(1) {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

@media (max-width: 767.98px) {
  .circle_black:nth-child(1) {
    -webkit-transform: translateY(10%) translateX(45%);
            transform: translateY(10%) translateX(45%);
  }
}

.circle_black:nth-last-child(1) {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

@media (max-width: 767.98px) {
  .circle_black:nth-last-child(1) {
    -webkit-transform: translateY(0) translateX(-45%);
            transform: translateY(0) translateX(-45%);
  }
}

.circle_black h3 {
  color: #59FF3E;
}

.circle_black p {
  color: #fff;
}

a.M_btn {
  font-size: 24px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #FA1A7A;
  line-height: 45px;
  padding: 8px 16px;
  border-radius: .9rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a.M_btn:hover {
  background-color: #ed0791;
}

.Hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100001;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 575.98px) {
  .Hamburger {
    top: 0.5rem;
    right: 0.5rem;
  }
}

.Hamburger .menu {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f92fa8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.Hamburger .menu .bar {
  width: 32px;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
}

.Hamburger .menu #bar1 {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.Hamburger .menu #bar3 {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.Hamburger .menu.menu_active {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Hamburger .menu.menu_active .bar {
  background-color: #fff;
}

.Hamburger .menu.menu_active #bar1 {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}

.Hamburger .menu.menu_active #bar2 {
  opacity: 0;
}

.Hamburger .menu.menu_active #bar3 {
  -webkit-transform: translateY(-4px) rotate(-45deg);
          transform: translateY(-4px) rotate(-45deg);
}

.menu_list {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: circle(0 at 95.2% 8.4%);
          clip-path: circle(0 at 95.2% 8.4%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  z-index: -10;
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.menu_list li {
  list-style: none;
  text-align: center;
  opacity: 0;
  margin-bottom: 2.5rem;
}

.menu_list li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu_list li:nth-child(1) {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu_list li:nth-child(2) {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu_list li:nth-child(3) {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu_list li:nth-child(4) {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu_list li.fade {
  opacity: 1;
}

.menu_list li a {
  font-size: 64px;
  font-weight: 700;
  font-family: alternate-gothic-extra-cond, sans-serif;
  color: #f92fa8;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 414.98px) {
  .menu_list li a {
    font-size: 2.2rem;
  }
}

.menu_list.menu_list_active {
  -webkit-clip-path: circle(2500px at 95.2% 8.4%);
          clip-path: circle(2500px at 95.2% 8.4%);
  z-index: 100000;
}

.popup_box {
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  visibility: hidden;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.popup_box.active {
  visibility: visible;
  border-radius: 0rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.popup_box .popup {
  width: 700px;
  height: 700px;
  background-color: #fff;
  padding: 20px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

@media (max-width: 767.98px) {
  .popup_box .popup {
    width: 550px;
    height: 550px;
  }
}

@media (max-width: 575.98px) {
  .popup_box .popup {
    padding: 10px;
    width: 350px;
    height: 600px;
    border-radius: 99rem;
  }
}

.popup_box .popup.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup_box .popup .box {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: none;
}

.popup_box .popup .box.active {
  display: block;
}

@media (max-width: 575.98px) {
  .popup_box .popup .box {
    width: 350px;
    border-radius: 350px;
  }
}

.popup_box .popup .box .img_box {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .popup_box .popup .box .img_box {
    width: 340px;
    height: 170px;
    border-top-left-radius: 340px;
    border-top-right-radius: 340px;
  }
}

.popup_box .popup .box .content_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup_box .popup .box .content_box .text_box {
  margin: 0 auto;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767.98px) {
  .popup_box .popup .box .content_box .text_box {
    width: 350px;
  }
}

@media (max-width: 575.98px) {
  .popup_box .popup .box .content_box .text_box {
    width: 300px;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
  }
}

.popup_box .popup .box .content_box .text_box h3 {
  font-size: 28px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 767.98px) {
  .popup_box .popup .box .content_box .text_box h3 {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
  }
}

.popup_box .popup .box .content_box .text_box .scroll_text {
  height: 120px;
  margin-bottom: 2rem;
  overflow: auto;
}

@media (max-width: 767.98px) {
  .popup_box .popup .box .content_box .text_box .scroll_text {
    height: 90px;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .popup_box .popup .box .content_box .text_box .scroll_text {
    width: 300px;
    height: 200px;
  }
}

.popup_box .popup .box .content_box .text_box .scroll_text p {
  line-height: 24px;
  font-family: Roboto, sans-serif;
}

.video_play_box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100002;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.video_play_box.active {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.video_play_box video {
  position: relative;
  max-width: 900px;
  outline: 0;
}

@media (max-width: 991.98px) {
  .video_play_box video {
    width: 100%;
    min-width: 370px;
  }
}

.video_play_box iframe {
  width: 80vw;
  height: calc(100vw/1.77);
}

@media (max-width: 991.98px) {
  .video_play_box iframe {
    width: 100%;
    min-width: 370px;
  }
}

.video_play_box .close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 36px;
}

footer {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

footer .img_box {
  position: relative;
  width: 70%;
  z-index: 2;
}

@media (max-width: 1199.98px) {
  footer .img_box {
    width: 75%;
  }
}

@media (max-width: 991.98px) {
  footer .img_box {
    width: 85%;
  }
}

@media (max-width: 767.98px) {
  footer .img_box {
    width: 100%;
  }
}

footer .img_box img.footer_a {
  width: 100%;
  display: block;
}

@media (max-width: 767.98px) {
  footer .img_box img.footer_a {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@media (max-width: 575.98px) {
  footer .img_box img.footer_a {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (max-width: 414.98px) {
  footer .img_box img.footer_a {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
}

footer .img_box .text_box {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .img_box .text_box p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.01rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  margin-bottom: -0.75rem;
}

@media (max-width: 1199.98px) {
  footer .img_box .text_box p {
    font-size: 16px;
  }
}

@media (max-width: 414.98px) {
  footer .img_box .text_box p {
    font-size: .8725rem;
  }
}

footer .img_box .text_box h2 {
  font-size: 56px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 700;
  letter-spacing: 0.01rem;
  white-space: nowrap;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

@media (max-width: 1199.98px) {
  footer .img_box .text_box h2 {
    font-size: 56px;
  }
}

@media (max-width: 991.98px) {
  footer .img_box .text_box h2 {
    font-size: 46px;
  }
}

@media (max-width: 414.98px) {
  footer .img_box .text_box h2 {
    font-size: 1.5rem;
  }
}

footer .img_box .text_box .footer-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  footer .img_box .text_box .footer-flex-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .img_box .text_box .footer-flex-box .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .img_box .text_box .footer-flex-box .social .nous {
  font-size: 28px;
  font-weight: 500;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 700;
  letter-spacing: 0.01rem;
  margin-right: 24px;
  white-space: nowrap;
}

@media (max-width: 1199.98px) {
  footer .img_box .text_box .footer-flex-box .social .nous {
    font-size: 26px;
  }
}

@media (max-width: 414.98px) {
  footer .img_box .text_box .footer-flex-box .social .nous {
    font-size: 1.1rem;
  }
}

footer .img_box .text_box .footer-flex-box .social img {
  display: block;
  margin-right: 1.5rem;
}

footer .img_box .text_box .footer-flex-box .social img.last {
  margin-right: 4rem;
}

@media (max-width: 1199.98px) {
  footer .img_box .text_box .footer-flex-box .social img {
    width: 1.5rem;
  }
}

@media (max-width: 414.98px) {
  footer .img_box .text_box .footer-flex-box .social img {
    width: 1.2rem;
    margin-right: 1rem;
  }
}

footer .img_box .text_box .footer-flex-box .link_box a {
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  display: block;
  letter-spacing: 0.01rem;
  white-space: nowrap;
}

footer .img_box .text_box .footer-flex-box .link_box a:last-child {
  margin-bottom: 0;
}

@media (max-width: 414.98px) {
  footer .img_box .text_box .footer-flex-box .link_box a {
    font-size: 1rem;
  }
}

footer .img_box2 {
  width: 55%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 991.98px) {
  footer .img_box2 {
    width: 75%;
    right: -10%;
  }
}

@media (max-width: 767.98px) {
  footer .img_box2 {
    display: none;
  }
}

footer .img_box2 img.footer_b {
  width: 100%;
  display: block;
  position: relative;
  bottom: 0;
}

footer .img_box2 img.footer_TIA {
  position: absolute;
  top: 25%;
  right: 40%;
  width: 15%;
}

@media (max-width: 991.98px) {
  footer .img_box2 img.footer_TIA {
    top: 35%;
    right: 25%;
  }
}

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  to {
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes infinite-spinning {
  from {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  to {
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
}

@-webkit-keyframes infinite-spinning2 {
  from {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(-50%) rotate(360deg);
            transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes infinite-spinning2 {
  from {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(-50%) rotate(360deg);
            transform: translateY(-50%) rotate(360deg);
  }
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform: rotate3d(0, 0, 1, -540deg);
            transform: rotate3d(0, 0, 1, -540deg);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform: rotate3d(0, 0, 1, -540deg);
            transform: rotate3d(0, 0, 1, -540deg);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
            transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
            transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, -50px, 0) scaleY(0.95);
            transform: translate3d(0, -50px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
            transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
            transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
            transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, -50px, 0) scaleY(0.95);
            transform: translate3d(0, -50px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
            transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
            transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
            transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
            transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
            transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes main-logo {
  0% {
    -webkit-filter: drop-shadow(0px 0px 10px #00000022);
            filter: drop-shadow(0px 0px 10px #00000022);
  }
  50% {
    -webkit-filter: drop-shadow(60px 60px 45px #00000066);
            filter: drop-shadow(60px 60px 45px #00000066);
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 10px #00000022);
            filter: drop-shadow(0px 0px 10px #00000022);
  }
}

@keyframes main-logo {
  0% {
    -webkit-filter: drop-shadow(0px 0px 10px #00000022);
            filter: drop-shadow(0px 0px 10px #00000022);
  }
  50% {
    -webkit-filter: drop-shadow(60px 60px 45px #00000066);
            filter: drop-shadow(60px 60px 45px #00000066);
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 10px #00000022);
            filter: drop-shadow(0px 0px 10px #00000022);
  }
}

.zoomInUp {
  opacity: 1;
  -webkit-animation: zoomInUp 1.2s;
          animation: zoomInUp 1.2s;
}

section.coming_soon {
  background-image: url("../../content/img/comming_soon/bg-1920.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-animation: coming_soon 5s infinite;
          animation: coming_soon 5s infinite;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.coming_soon * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes coming_soon {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 100.5%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes coming_soon {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 100.5%;
  }
  100% {
    background-size: 100%;
  }
}

section.coming_soon .main_box {
  margin-top: 10vh;
  margin-bottom: 10vh;
  max-width: 440px;
  padding: 0 20px;
  text-align: center;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  section.coming_soon .main_box {
    padding: 0 3rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

section.coming_soon .main_box .main-logo {
  width: 100%;
  vertical-align: middle;
  -webkit-animation: main-logo 4567ms infinite linear;
          animation: main-logo 4567ms infinite linear;
}

@keyframes main-logo {
  0% {
    -webkit-filter: drop-shadow(0px 0px 10px #00000022);
            filter: drop-shadow(0px 0px 10px #00000022);
  }
  50% {
    -webkit-filter: drop-shadow(10px 10px 10px #00000044);
            filter: drop-shadow(10px 10px 10px #00000044);
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 10px #00000022);
            filter: drop-shadow(0px 0px 10px #00000022);
  }
}

section.coming_soon .main_box .big-text {
  font-size: 72px;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  section.coming_soon .main_box .big-text {
    font-size: 48px;
  }
}

section.coming_soon .main_box .date {
  font-size: 28px;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  section.coming_soon .main_box .date {
    font-size: 24px;
  }
}

section.coming_soon .main_box .cctp-logo {
  margin: 2rem 0;
  display: inline-block;
}

section.coming_soon .main_box .cctp-logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.coming_soon .main_box .cctp-logo img {
  width: 124px;
}

section.coming_soon .main_box .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.coming_soon .main_box .social_box a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section.coming_soon .main_box .social_box a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.coming_soon .main_box .social_box img {
  width: 2rem;
  margin: 0 13px;
}

@media (max-width: 575.98px) {
  section.coming_soon .main_box .social_box img {
    width: 1.5rem;
    margin: 0 8px;
  }
}

/* index */
section.remake {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

section.remake img.ball {
  position: absolute;
  display: block;
  z-index: 100;
}

section.remake img.ball:nth-child(1) {
  top: -1.3%;
  right: -1.6%;
  width: 25%;
  -webkit-filter: drop-shadow(10px 15px 15px #bcbbb7);
          filter: drop-shadow(10px 15px 15px #bcbbb7);
}

section.remake img.ball:nth-child(2) {
  top: 0.5%;
  right: 20%;
  width: 9%;
  -webkit-filter: drop-shadow(10px 15px 15px #bcbbb7);
          filter: drop-shadow(10px 15px 15px #bcbbb7);
}

section.remake img.ball:nth-child(3) {
  top: 4.5%;
  right: 6%;
  width: 12%;
  -webkit-filter: drop-shadow(10px 15px 15px #bcbbb7);
          filter: drop-shadow(10px 15px 15px #bcbbb7);
}

section.remake img.ball:nth-child(4) {
  top: 2%;
  left: -13%;
  width: 34%;
  -webkit-filter: drop-shadow(10px 15px 15px #bcbbb7);
          filter: drop-shadow(10px 15px 15px #bcbbb7);
}

section.remake img.ball:nth-child(5) {
  top: 4%;
  left: 15.4%;
  width: 12%;
}

section.remake img.ball:nth-child(6) {
  top: 10%;
  left: 8.4%;
  width: 10%;
  -webkit-filter: drop-shadow(5px 5px 10px #bcbbb7);
          filter: drop-shadow(5px 5px 10px #bcbbb7);
}

section.remake img.ball:nth-child(7) {
  top: 13%;
  right: -9.1%;
  width: 20%;
}

section.remake img.ball:nth-child(8) {
  top: 12%;
  right: 4.4%;
  width: 10%;
}

section.remake img.ball:nth-child(9) {
  top: 17%;
  left: 9.5%;
  width: 8%;
  -webkit-filter: drop-shadow(5px 5px 10px #bcbbb7);
          filter: drop-shadow(5px 5px 10px #bcbbb7);
}

section.remake img.ball:nth-child(10) {
  top: 15%;
  left: -1.5%;
  width: 15%;
}

section.remake img.ball:nth-child(11) {
  top: 20.5%;
  right: 16.5%;
  width: 9%;
  -webkit-filter: drop-shadow(5px 5px 10px #bcbbb7);
          filter: drop-shadow(5px 5px 10px #bcbbb7);
}

section.remake img.ball:nth-child(12) {
  top: 21.7%;
  right: 14.5%;
  width: 14%;
}

section.remake img.ball:nth-child(13) {
  top: 22%;
  left: 14.5%;
  width: 12%;
  -webkit-filter: drop-shadow(5px 5px 10px #bcbbb7);
          filter: drop-shadow(5px 5px 10px #bcbbb7);
}

section.remake img.ball:nth-child(14) {
  top: 24.2%;
  left: 21.6%;
  width: 7%;
}

section.remake img.ball:nth-child(15) {
  top: 29.5%;
  left: -10%;
  width: 20%;
}

section.remake img.ball:nth-child(16) {
  top: 27.5%;
  right: 5%;
  width: 10%;
}

section.remake img.ball:nth-child(17) {
  top: 32.5%;
  right: -5%;
  width: 18%;
}

section.remake img.ball:nth-child(18) {
  top: 32.2%;
  right: 8.6%;
  width: 8.8%;
}

section.remake img.ball:nth-child(19) {
  top: 42.7%;
  left: 0%;
  width: 13.8%;
}

section.remake img.ball:nth-child(20) {
  top: 41.2%;
  right: 0%;
  width: 15.8%;
}

section.remake .part01 {
  position: relative;
}

section.remake .part01 img.top_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

section.remake .part01 img.main_logo_shadow {
  position: relative;
  display: block;
  width: 640px;
  margin: 0 auto;
  padding: 5rem 0 2.5rem 0;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media (max-width: 1920px) {
  section.remake .part01 img.main_logo_shadow {
    width: 400px;
  }
}

section.remake .part01 .paragraph1 {
  position: relative;
  width: 55%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  z-index: 100;
}

section.remake .part01 .paragraph1 h3 {
  font-size: 42px;
  color: #000;
  font-weight: 700;
  font-family: alternate-gothic-extra-cond, sans-serif;
  margin: 0 0 1rem 0;
  letter-spacing: 0.01rem;
}

section.remake .part01 .paragraph1 p {
  color: #3B3A39;
  line-height: 24px;
  font-family: nunito, sans-serif;
}

section.remake .part01 .play_box {
  position: relative;
  width: 490px;
  margin: 0 auto;
  margin-bottom: 5%;
  z-index: 100;
}

section.remake .part01 .play_box .play_area {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-48%, -49%);
          transform: translate(-48%, -49%);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  z-index: 101;
  overflow: hidden;
}

section.remake .part01 .play_box .play_area .play_box_triangle {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 102;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

section.remake .part01 .play_box .play_area .play_box_triangle:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

section.remake .part01 .five_circles_box {
  position: relative;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.remake .part01 .five_circles_box h2 {
  position: relative;
  color: #fff;
  margin-bottom: 2.5rem;
  font-size: 64px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 700;
  letter-spacing: 0.01rem;
  text-align: center;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

section.remake .part01 .five_circles_box h2:nth-child(1) {
  padding-top: 7.5%;
  padding-bottom: 1%;
}

@media (max-width: 767.98px) {
  section.remake .part01 .five_circles_box h2:nth-child(1) {
    padding-top: 17%;
    padding-bottom: unset;
  }
}

section.remake .part01 .five_circles_box h2:nth-child(3) {
  padding: 0;
  color: #000;
  text-shadow: unset;
}

section.remake .part01 .five_circles_box .text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.remake .part01 .five_circles_box .text_box h3,
section.remake .part01 .five_circles_box .text_box p {
  margin: 0;
}

section.remake .part01 .five_circles_box .text_box h3 {
  font-weight: 600;
  letter-spacing: 0.01rem;
}

section.remake .part01 .five_circles_box .text_box p {
  font-weight: 300;
  letter-spacing: 0.01rem;
}

section.remake .part01 .five_circles_box .circle_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
  width: 100%;
  max-width: 1024px;
}

@media (max-width: 767.98px) {
  section.remake .part01 .five_circles_box .circle_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: unset;
    z-index: 1000000;
  }
}

section.remake .part01 .five_circles_box .circle_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  min-width: 580px;
}

@media (max-width: 767.98px) {
  section.remake .part01 .five_circles_box .circle_box2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: unset;
  }
}

section.remake .part01 .five_circles_box .CM_obj {
  position: absolute;
  top: -5%;
  left: 50%;
  display: block;
  width: 65%;
  min-width: 720px;
  max-width: 990px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

@media (max-width: 1920px) {
  section.remake .part01 .five_circles_box .CM_obj {
    min-width: 720px;
    max-width: 920px;
  }
}

@media (max-width: 767.98px) {
  section.remake .part01 .five_circles_box .CM_obj {
    -webkit-transform: translateX(-50%) translateY(25%) scale(1.5);
            transform: translateX(-50%) translateY(25%) scale(1.5);
  }
}

section.remake .article-list {
  position: relative;
  margin: auto;
  z-index: 10000;
  max-width: 1024px;
}

section.remake .article-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20% 0;
  padding: 0 1rem;
}

@media (max-width: 575.98px) {
  section.remake .article-list .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.5rem;
  }
}

section.remake .article-list .list-item .img-box {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 100%;
  position: relative;
  z-index: 2;
}

@media (max-width: 575.98px) {
  section.remake .article-list .list-item .img-box {
    margin-bottom: 1.5rem;
  }
}

section.remake .article-list .list-item .img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
  vertical-align: top;
}

section.remake .article-list .list-item .img-box .circle_dots_s {
  position: absolute;
  top: 6%;
  left: 50%;
  width: 80%;
  z-index: -1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: infinite-spinning 36s linear infinite;
          animation: infinite-spinning 36s linear infinite;
}

@media (max-width: 575.98px) {
  section.remake .article-list .list-item .img-box .circle_dots_s {
    display: none;
  }
}

section.remake .article-list .list-item .img-box .circle_bluegreen_dots {
  position: absolute;
  width: 75%;
  top: 50%;
  right: -15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  -webkit-animation: infinite-spinning2 36s linear infinite;
          animation: infinite-spinning2 36s linear infinite;
}

section.remake .article-list .list-item .text-box {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  padding: 0 1.5rem;
  position: relative;
}

section.remake .article-list .list-item .text-box h2 {
  font-size: 46px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 600;
  letter-spacing: 0.01rem;
  margin-bottom: 1.5rem;
}

section.remake .article-list .list-item .text-box p {
  color: #3B3A39;
  font-family: Roboto, sans-serif;
  margin-bottom: 2.5rem;
  letter-spacing: 0.01rem;
  max-width: 280px;
}

@media (max-width: 767.98px) {
  section.remake .article-list .list-item .text-box p {
    max-width: 235px;
  }
}

section.remake .article-list .list-item .text-box .C_circle {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: -100px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #87f1a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

@media (max-width: 991.98px) {
  section.remake .article-list .list-item .text-box .C_circle {
    width: 420px;
    height: 420px;
  }
}

@media (max-width: 767.98px) {
  section.remake .article-list .list-item .text-box .C_circle {
    width: 370px;
    height: 370px;
  }
}

section.remake .article-list .list-item:nth-child(2n) .img-box {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 575.98px) {
  section.remake .article-list .list-item:nth-child(2n) .img-box {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

section.remake .article-list .list-item:nth-child(2n) .text-box {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

@media (max-width: 575.98px) {
  section.remake .article-list .list-item:nth-child(2n) .text-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

section.remake .article-list .list-item:nth-child(2n) .text-box p {
  max-width: 100%;
}

section.remake .part02 {
  position: relative;
  margin: auto;
  z-index: 10000;
  max-width: 1024px;
}

@media (max-width: 1199.98px) {
  section.remake .part02 {
    padding: 0 10%;
  }
}

section.remake .part02 .text_box {
  max-width: 480px;
}

section.remake .part02 .text_box h2 {
  font-size: 46px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 600;
  letter-spacing: 0.01rem;
  margin-bottom: 1.5rem;
}

section.remake .part02 .text_box p {
  color: #3B3A39;
  font-family: Roboto, sans-serif;
  margin-bottom: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

section.remake .part02 .card_a {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

@media (max-width: 1199.98px) {
  section.remake .part02 .card_a {
    max-width: 960px;
  }
}

section.remake .part02 .card_a .box {
  position: relative;
}

section.remake .part02 .card_a .box .img_box {
  position: relative;
  width: 510px;
  height: 335px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
}

@media (max-width: 1199.98px) {
  section.remake .part02 .card_a .box .img_box {
    width: 433px;
    height: 285px;
  }
}

@media (max-width: 991.98px) {
  section.remake .part02 .card_a .box .img_box {
    width: 382px;
    height: 251px;
  }
}

section.remake .part02 .card_a .box .circle_dots_s {
  position: absolute;
  top: 6%;
  left: 50%;
  width: 80%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.remake .part02 .card_a .C_circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-left: -5%;
  background-color: #87f1a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1199.98px) {
  section.remake .part02 .card_a .C_circle {
    width: 440px;
    height: 440px;
    margin-left: -10.5%;
  }
}

section.remake .part02 .card_a .C_circle .text_box {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  border: 1px solid red;
}

section.remake .part02 .card_b {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

@media (max-width: 1199.98px) {
  section.remake .part02 .card_b {
    max-width: 950px;
  }
}

section.remake .part02 .card_b .box {
  position: relative;
}

section.remake .part02 .card_b .box .img_box {
  position: relative;
  width: 510px;
  height: 335px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
}

@media (max-width: 1199.98px) {
  section.remake .part02 .card_b .box .img_box {
    width: 433px;
    height: 285px;
  }
}

@media (max-width: 991.98px) {
  section.remake .part02 .card_b .box .img_box {
    width: 382px;
    height: 251px;
  }
}

section.remake .part02 .card_b .box .img_box img {
  -o-object-fit: cover;
     object-fit: cover;
}

section.remake .part02 .card_b .box .circle_bluegreen_dots {
  position: absolute;
  width: 100%;
  top: 50%;
  right: -27%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section.remake .part03 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

@media (max-width: 991.98px) {
  section.remake .part03 {
    margin-bottom: 5rem;
  }
}

section.remake .part03 img.ball {
  position: absolute;
  display: block;
  z-index: 100;
}

section.remake .part03 img.ball:nth-child(1) {
  top: 31.7%;
  left: 0;
  width: 10%;
}

section.remake .part03 img.ball:nth-child(2) {
  top: 0;
  left: 0;
  width: 20%;
}

section.remake .part03 .tw_avignon {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10000;
}

@media (max-width: 1199.98px) {
  section.remake .part03 .tw_avignon {
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {
  section.remake .part03 .tw_avignon {
    max-width: 860px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section.remake .part03 .tw_avignon .box_a {
  width: 66.66667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  section.remake .part03 .tw_avignon .box_a {
    width: 75%;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 414.98px) {
  section.remake .part03 .tw_avignon .box_a {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section.remake .part03 .tw_avignon .box_a img.tw_avignon_img {
  position: relative;
  left: 2rem;
  z-index: 1;
}

@media (max-width: 1199.98px) {
  section.remake .part03 .tw_avignon .box_a img.tw_avignon_img {
    width: 50%;
    left: 1rem;
  }
}

@media (max-width: 414.98px) {
  section.remake .part03 .tw_avignon .box_a img.tw_avignon_img {
    width: 80%;
  }
}

section.remake .part03 .tw_avignon .box_a .img_box {
  position: relative;
  z-index: 2;
}

@media (max-width: 1199.98px) {
  section.remake .part03 .tw_avignon .box_a .img_box {
    width: 50%;
  }
}

@media (max-width: 414.98px) {
  section.remake .part03 .tw_avignon .box_a .img_box {
    width: 80%;
    -webkit-transform: translateY(-16%) rotate(90deg);
            transform: translateY(-16%) rotate(90deg);
  }
}

section.remake .part03 .tw_avignon .box_a .img_box img.tw_avignon_M_icon {
  width: 100%;
}

@media (max-width: 1199.98px) {
  section.remake .part03 .tw_avignon .box_a .img_box img.tw_avignon_M_icon {
    width: 108%;
  }
}

section.remake .part03 .tw_avignon .box_a .img_box .Nous_contacter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

@media (max-width: 991.98px) {
  section.remake .part03 .tw_avignon .box_a .img_box .Nous_contacter {
    width: 75%;
  }
}

@media (max-width: 414.98px) {
  section.remake .part03 .tw_avignon .box_a .img_box .Nous_contacter {
    -webkit-transform: translate(-40%, -50%) rotate(-90deg);
            transform: translate(-40%, -50%) rotate(-90deg);
  }
}

section.remake .part03 .tw_avignon .box_b {
  width: 100%/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.5rem;
}

section.remake .part03 .tw_avignon .box_b .wrap {
  width: 408px;
  z-index: 100;
}

@media (max-width: 767.98px) {
  section.remake .part03 .tw_avignon .box_b .wrap {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  section.remake .part03 .tw_avignon .box_b .wrap {
    width: 375px;
  }
}

@media (max-width: 414.98px) {
  section.remake .part03 .tw_avignon .box_b .wrap {
    width: 320px;
  }
}

section.remake .part03 .tw_avignon .box_b .wrap p {
  color: #3B3A39;
  font-family: Roboto, sans-serif;
  line-height: 24px;
  font-size: 16px;
}

@media (max-width: 575.98px) {
  section.remake .part03 .tw_avignon .box_b .wrap p {
    font-size: 14px;
  }
}

section.remake .part03 .tw_avignon .box_b .wrap h2 {
  position: relative;
  font-size: 42px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media (max-width: 767.98px) {
  section.remake .part03 .tw_avignon .box_b .wrap h2 {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 575.98px) {
  section.remake .part03 .tw_avignon .box_b .wrap h2 {
    font-size: 36px;
  }
}

section.remake .part03 .tw_avignon .box_b .wrap h2::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 61%;
  height: 2px;
  background-color: #000;
}

@media (max-width: 767.98px) {
  section.remake .part03 .tw_avignon .box_b .wrap h2::after {
    display: none;
  }
}

section.remake .part03 .tw_avignon .box_b .wrap a {
  color: #000;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}

@media (max-width: 575.98px) {
  section.remake .part03 .tw_avignon .box_b .wrap a {
    font-size: 14px;
    white-space: unset;
  }
}

section.remake .part03 img.cloud_bg {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
}

@media (max-width: 2220px) {
  section.remake .part03 img.cloud_bg {
    bottom: -145%;
  }
}

@media (max-width: 1920px) {
  section.remake .part03 img.cloud_bg {
    bottom: -125%;
  }
}

@media (max-width: 1679.98px) {
  section.remake .part03 img.cloud_bg {
    bottom: -105%;
  }
}

@media (max-width: 991.98px) {
  section.remake .part03 img.cloud_bg {
    bottom: -42%;
  }
}

@media (max-width: 767.98px) {
  section.remake .part03 img.cloud_bg {
    bottom: -35%;
  }
}

@media (max-width: 575.98px) {
  section.remake .part03 img.cloud_bg {
    bottom: -30%;
  }
}

@media (max-width: 414.98px) {
  section.remake .part03 img.cloud_bg {
    bottom: -15%;
  }
}

section.remake .part04 {
  background-color: #fff;
  margin-top: 22%;
}

section.remake .part04 .sponsor_box {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  z-index: 100;
}

@media (max-width: 1199.98px) {
  section.remake .part04 .sponsor_box {
    max-width: 950px;
    -webkit-transform: translateY(-22.5%);
            transform: translateY(-22.5%);
  }
}

@media (max-width: 991.98px) {
  section.remake .part04 .sponsor_box {
    padding: 0 5%;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}

@media (max-width: 767.98px) {
  section.remake .part04 .sponsor_box {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 575.98px) {
  section.remake .part04 .sponsor_box {
    padding-bottom: 2.5rem;
  }
}

section.remake .part04 .sponsor_box .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 56px;
}

@media (max-width: 767.98px) {
  section.remake .part04 .sponsor_box .top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 414.98px) {
  section.remake .part04 .sponsor_box .top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section.remake .part04 .sponsor_box .top .box_a {
  width: 33%;
}

@media (max-width: 767.98px) {
  section.remake .part04 .sponsor_box .top .box_a {
    width: 50%;
  }
}

@media (max-width: 414.98px) {
  section.remake .part04 .sponsor_box .top .box_a {
    width: 60%;
    margin-bottom: 1.5rem;
  }
}

section.remake .part04 .sponsor_box .top .box_a h3 {
  font-size: 28px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 600;
  letter-spacing: 0.01rem;
  margin-bottom: 2.5rem;
}

section.remake .part04 .sponsor_box .top .box_a .img_box {
  width: 60%;
}

@media (max-width: 414.98px) and (max-width: 414.98px) {
  section.remake .part04 .sponsor_box .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section.remake .part04 .sponsor_box .bottom h3 {
  font-size: 28px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 600;
  letter-spacing: 0.01rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 414.98px) {
  section.remake .part04 .sponsor_box .bottom h3 {
    width: 60%;
  }
}

section.remake .part04 .sponsor_box .bottom .box_b {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 414.98px) {
  section.remake .part04 .sponsor_box .bottom .box_b {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section.remake .part04 .sponsor_box .bottom .box_b .img_box {
  width: 20%;
  margin-right: 4%;
  margin-bottom: 32px;
}

section.remake .part04 .sponsor_box .bottom .box_b .img_box img {
  width: 100%;
}

@media (max-width: 991.98px) {
  section.remake .part04 .sponsor_box .bottom .box_b .img_box {
    width: 28%;
  }
}

@media (max-width: 767.98px) {
  section.remake .part04 .sponsor_box .bottom .box_b .img_box {
    width: 40%;
  }
}

@media (max-width: 414.98px) {
  section.remake .part04 .sponsor_box .bottom .box_b .img_box {
    width: 60%;
    margin-bottom: 2.5rem;
  }
}

/* mention_legales */
section.mention_legales {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EFEDE7;
  overflow-x: hidden;
}

section.mention_legales a img.position_obj:nth-child(1) {
  opacity: unset;
  width: 250px;
  top: 70px;
  left: 70px;
}

@media (max-width: 991.98px) {
  section.mention_legales a img.position_obj:nth-child(1) {
    width: 320px;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

section.mention_legales img.position_obj {
  position: absolute;
  display: block;
}

section.mention_legales img.position_obj:nth-child(1) {
  opacity: .5;
  width: 25%;
  top: 0;
  left: 0;
}

section.mention_legales img.position_obj:nth-child(2) {
  width: 250px;
  top: 70px;
  left: 70px;
}

@media (max-width: 991.98px) {
  section.mention_legales img.position_obj:nth-child(2) {
    width: 320px;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

section.mention_legales img.position_obj:nth-child(3) {
  width: 35%;
  top: 0;
  right: 0;
}

section.mention_legales img.position_obj:nth-child(4) {
  top: 6.9%;
  right: -7.6%;
  width: 23%;
  -webkit-filter: drop-shadow(10px 15px 15px #bcbbb7);
          filter: drop-shadow(10px 15px 15px #bcbbb7);
}

section.mention_legales img.position_obj:nth-child(5) {
  width: 18%;
  top: 55%;
  left: 5%;
}

section.mention_legales img.position_obj:nth-child(6) {
  width: 19%;
  top: 60%;
  left: 0;
}

section.mention_legales img.position_obj:nth-child(7) {
  width: 17%;
  top: 50%;
  right: 0;
}

section.mention_legales .content {
  position: relative;
  width: 60%;
  padding-left: 10%;
  margin: 8rem 0 4rem;
  z-index: 1000;
}

@media (max-width: 991.98px) {
  section.mention_legales .content {
    padding-top: 15rem;
  }
}

@media (max-width: 767.98px) {
  section.mention_legales .content {
    padding-left: 0;
    width: 100%;
    padding: 0 1rem;
    padding-top: 15rem;
  }
}

section.mention_legales .content h2 {
  font-size: 64px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}

section.mention_legales .content .text_box {
  margin-bottom: 3rem;
}

section.mention_legales .content .text_box h3 {
  font-size: 28px;
  font-family: alternate-gothic-extra-cond, sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

section.mention_legales .content .text_box p {
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

section.mention_legales .content .text_box a {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

section.mention_legales .content .text_box ul {
  list-style: disc;
  margin-left: 2rem;
}

section.mention_legales footer {
  background-color: #EFEDE7;
}
/*# sourceMappingURL=all.css.map */